body {
	position: relative;
	width: 7.5in;
	margin: .5in;
}
html {
	width: 8.5in;
}
.S-City {
	position: absolute;
	right: 0;
	bottom: 0;
}
.S-When {
	float: right;
	margin-right: 1.5in;
	bottom: 0;
}
.P-Job {
	position: relative;
}
.P-Job:after {
	content: " ";
	display: block;
	height: 0;
	clear: both;
}
* {
	background-color: transparent;
}
body > h1 {
	position: relative !important;
	margin-bottom: -1.3em !important;
}
body > h1:after {
	display: inline-block !important;
	content: "" !important;
	width: 100% !important;
}
body > h1 > * {
	display: inline-block !important;
	position: relative !important;
}
