body {
	position: relative;
	width: 7.5in;
	margin: .5in;
}
html {
	width: 8.5in;
}
.S-City {
	position: absolute;
	right: 0;
	bottom: 0;
}
.S-When {
	float: right;
	margin-right: 1.5in;
	bottom: 0;
}
.P-Job {
	position: relative;
}
.P-Job:after {
	content: " ";
	display: block;
	height: 0;
	clear: both;
}
* {
	background-color: transparent;
}
h1.P-P4 {
	position: relative;
	margin-bottom: -1.3em;
}
h1.P-P4:after {
	display: inline-block;
	content: "";
	width: 100%;
}
h1.P-P4 > * {
	display: inline-block;
	position: relative;
}
